/* Coolors Exported Palette - coolors.co/040f0f-248232-2ba84a-2d3a3a-fcfffc */

/* HSL */
$color1: hsla(180%, 58%, 4%, 1);
$color2: hsla(129%, 57%, 33%, 1);
$color3: hsla(135%, 59%, 41%, 1);
$color4: hsla(180%, 13%, 20%, 1);
$color5: hsla(120%, 100%, 99%, 1);

/* RGB */
$color1: rgba(4, 15, 15, 1);
$color2: rgba(36, 130, 50, 1);
$color3: rgba(43, 168, 74, 1);
$color4: rgba(45, 58, 58, 1);
$color5: rgba(252, 255, 252, 1);